Repository similarweb/finala, pull requests merged in 2020-08, with the labels that each got.

#127 Docs/rearrange docs
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/components.md
  docs/configuration_examples/README.md
  docs/developers/add-new-notifier.md
  docs/developers/getting-started.md
  docs/developers/index.md
  docs/developers/unittests.md
  docs/images/finala.png
  docs/images/slack.png
  docs/install/index.md
  docs/install/local-install.md
Labels: kind/documentation, lgtm

#129 Update README.md
  README.md
Labels: kind/documentation

#128 Add NAT Gateways detection.
  README.md
  collector/aws/resources/natgateway.go
  collector/aws/resources/natgateway_test.go
  configuration/collector.yaml
Labels: area/collector, kind/new-feature, lgtm

#130 support assume role
  collector/aws/auth.go
  collector/aws/common/structs.go
  collector/aws/detector.go
  collector/aws/run.go
  collector/aws/testutils/detector.go
  collector/config/config.go
  configuration/collector.yaml
Labels: area/collector, kind/new-feature, lgtm

#131 Update changelog
  CHANGELOG.md
Labels: kind/documentation

#132 fix summary es query
  api/storage/elasticsearch/elasticsearch.go
Labels: area/api, kind/bug, lgtm

#126 revamp-ui2.0
  .gitignore
  ui/.babelrc
  ui/.eslintrc
  ui/config/webpack.config.base.js
  ui/config/webpack.config.development.js
  ui/package-lock.json
  ui/package.json
  ui/server/middleware.development.js
  ui/src/App.js
  ui/src/components/Dashboard/FilterBar.js
  ui/src/components/Dashboard/Index.js
  ui/src/components/Dashboard/ResourceScanning.js
  ui/src/components/Dashboard/ResourceTable.js
  ui/src/components/Dashboard/ResourcesChart.js
  ui/src/components/Dashboard/ResourcesList.js
  ui/src/components/Dashboard/StatisticsBar.js
  ui/src/components/Dashboard/colors.json
  ui/src/components/DataFactory.js
  ui/src/components/Dialog/Tags.js
  ui/src/components/Executions/Index.js
  ui/src/components/Header.js
  ui/src/components/LeftBar.js
  ui/src/components/Logo/index.js
  ui/src/components/NoData.js
  ui/src/components/NotFound.js
  ui/src/components/PageLoader.js
  ui/src/components/Resource/Index.js
  ui/src/components/Resource/table.js
  ui/src/configureStore.js
  ui/src/directives/Index.js
  ui/src/directives/Money.js
  ui/src/directives/Title.js
  ui/src/index.html
  ui/src/index.js
  ui/src/reducers/executions.reducer.js
  ui/src/reducers/filters.reducer.js
  ui/src/reducers/index.js
  ui/src/reducers/resources.reducer.js
  ui/src/routes/index.js
  ui/src/services/request.service.js
  ui/src/services/resources.service.js
  ui/src/services/settings.service.js
  ui/src/services/tags.service.js
  ui/src/styles/icons/icon.png
  ui/src/styles/icons/logo.png
  ui/src/styles/index.scss
  ui/src/utils/History.js
  ui/src/utils/Text.js
Labels: area/ui, kind/new-feature

#104 Build Notifier send URL according to notification group tags.
  Makefile
  notifiers/common/common.go
  notifiers/providers/slack/slack.go
  notifiers/providers/slack/slack_private_test.go
  notifiers/testutil/mocks.go
Labels: area/notifier, kind/new-feature, lgtm
